.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(70, 70, 70);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(223, 223, 223);
    align-items: center;
    min-width: 40%;
}

.image {
    border-radius: 70%;
    height: 30%;
    margin-bottom: 10px;
}